# Copyright 2022 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Michael Rogenmoser <michaero@iis.ee.ethz.ch>

variables:
  VSIM: questa-2023.4 vsim
  BENDER: bender
  PYTHON: /home/msc23h26/.conda/envs/floo/bin/python

stages:
  - init
  - build
  - run

collect-bender-sources:
  stage: init
  script:
    - $BENDER checkout
  artifacts:
    paths:
      - .bender/
      - Bender.lock

compile-vsim:
  stage: build
  script:
    - make compile-sim | tee compile.log 2>&1
    - '! grep "Error: " compile.log'
  needs:
    - collect-bender-sources
  artifacts:
    paths:
      - scripts/
      - work/
      - modelsim.ini

run-vsim:
  stage: run
  script:
    - make run-sim-batch | tee vsim.log 2>&1
    - 'grep "Errors: 0," vsim.log'
  artifacts:
    paths:
      - vsim.log
  parallel:
    matrix:
      - VSIM_TB_DUT:
        - tb_floo_router
        - tb_floo_axi_chimney
        - tb_floo_narrow_wide_chimney
        - tb_floo_rob
  needs:
    - collect-bender-sources
    - compile-vsim
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /noci$/'
      when: manual
    - when: always

run-traffic:
  stage: run
  variables:
    VSIM_TB_DUT: tb_floo_dma_mesh
    JOB_NAME: mesh
  parallel:
    matrix:
      - TRAFFIC_TYPE: [random, hbm, onehop]
        TRAFFIC_RW: [read, write]
  needs:
    - collect-bender-sources
    - compile-vsim
  script:
    - make jobs
    - make run-sim-batch | tee vsim.log 2>&1
    - 'grep "Errors: 0," vsim.log'

morty:
  stage: build
  script:
    - $BENDER sources -f > source_list.txt
    - morty -f source_list.txt
  needs:
    - collect-bender-sources
