# Copyright 2022 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Michael Rogenmoser <michaero@iis.ee.ethz.ch>

variables:
  VSIM: questa-2023.4 vsim
  BENDER: bender
  PYTHON: /usr/local/anaconda3/bin/python

stages:
  - init
  - build
  - run

collect-bender-sources:
  stage: init
  script:
    - $BENDER checkout
  artifacts:
    paths:
      - .bender/
      - Bender.lock

compile-vsim:
  stage: build
  script:
    - make compile-sim VC=true | tee compile.log 2>&1
    - '! grep "\*\* Error" compile.log'
  needs:
    - collect-bender-sources
  artifacts:
    paths:
      - scripts/
      - work/
      - modelsim.ini

run-vsim:
  stage: run
  script:
    - make run-sim-batch | tee vsim.log 2>&1
    - 'grep "Errors: 0," vsim.log'
  artifacts:
    paths:
      - vsim.log
  parallel:
    matrix:
      - VSIM_TB_DUT:
        - tb_floo_router
        - tb_floo_vc_router
        - tb_floo_axi_chimney
        - tb_floo_nw_chimney
        - tb_floo_rob
  needs:
    - collect-bender-sources
    - compile-vsim
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /noci$/'
      when: manual
    - when: always

run-traffic:
  stage: run
  variables:
    JOB_NAME: mesh
  parallel:
    matrix:
      - DUT: [nw_mesh] # Fix: `tb_floo_vc_dma_mesh` has issues with boundary accesses
        ROUTE_ALGO: [xy]
        TRAFFIC_TYPE: [random, hbm, onehop, bit_complement, bit_reverse, bit_rotation, neighbor, shuffle, transpose, tornado, single_dest_boundary, single_dest_center]
        TRAFFIC_RW: [read, write]
  needs:
    - collect-bender-sources
  script:
    - $PYTHON -m venv .venv
    - source .venv/bin/activate
    - pip install .
    - floogen -c floogen/examples/${DUT}_${ROUTE_ALGO}.yml -o generated --no-format
    - make compile-sim BENDER_FLAGS="-t ${DUT}"
    - make jobs
    - make run-sim-batch VSIM_TB_DUT=tb_floo_${DUT} | tee vsim.log 2>&1
    - 'grep "Errors: 0," vsim.log'

morty:
  stage: build
  script:
    - $BENDER sources -f > source_list.txt
    - morty -f source_list.txt
  needs:
    - collect-bender-sources
