# Copyright 2023 ETH Zurich and University of Bologna.
# Solderpad Hardware License, Version 0.51, see LICENSE for details.
# SPDX-License-Identifier: SHL-0.51

# Author: Tim Fischer <fischeti@iis.ee.ethz.ch>

name: lint

on:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:

  #####################
  # Bender up-to-date #
  #####################
  bender-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - name: Check Bender up-to-date
        uses: pulp-platform/pulp-actions/bender-up-to-date@v2

  ################
  # Verible Lint #
  ################
  verible-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: chipsalliance/verible-linter-action@main
      with:
        config_file: ''
        paths: |
          ./hw
        extra_args: "--waiver_files util/verible.waiver"
        github_token: ${{ secrets.GITHUB_TOKEN }}
        fail_on_error: true
        reviewdog_reporter: github-check

  ########
  # Ruff #
  ########
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3

  #################
  # Check License #
  #################
  lint-license:
    runs-on: ubuntu-latest
    steps:
      - name: lint license
        uses: pulp-platform/pulp-actions/lint-license@v2
        with:
          license: |
            Copyright (\d{4}(-\d{4})?\s)?(ETH Zurich and University of Bologna|lowRISC contributors).
            (Solderpad Hardware License, Version 0.51|Licensed under the Apache License, Version 2.0), see LICENSE for details.
            SPDX-License-Identifier: (SHL-0.51|Apache-2.0)
          exclude_paths: |
            floo_noc.core
